 /* ============================================= PORTEFEUILLE ===================================== */

  .martinporte {
    margin: 0;
  }
  #wrapper {
    display: flex;
  }
  
  .left {
    background: black;
    width: 20%;
    height: 1150px;
    padding: 50px;
  }
  
  .right {
    width: 80%;
    padding: 50px;
  }
  
  /* CONTENU DU PROFIL*/
  
  .titleporte {
  height: 120px;
  width: 600px;
  left: 361px;
  top: 61px;
  font-size: 55px;
  font-weight: 600;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
  }
  
  @media screen and (min-width: 640px) {
    .wrapper {
      display: block;
    }
    .left {
      width: 20%;
    }
  
    .right {
      width: 80%;
    }
  }
  
  #profilimg {
    border-radius: 2000px;
    margin-left: -30px;
    margin-bottom: 20px;
  }
  
  .descriptionprofile {
    display: flex;
  }
  
  #prenomprofile {
    margin-left: 30px ;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: black;
  }
  
  #mailprofile {
    margin-left: 30px ;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: black;
  }
  .contenudescriptions {
    margin-top :65px;
  }
  
  .infoprofil {
    margin-top: -35px;
    margin-left:160px;
    display: flex;
  }
  
  .kmparcourus {
    
    width: 300px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 7px #0000001a;
      border: 2px solid #FF865A;
      border-radius: 10px;
      opacity: 1;
      padding:10px;
      display: inline-block;
      margin-left: 20px;
      margin-top: 50px;
  }
  
  .kmparcourus p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    color: black;
    
  }
  
  @media screen and (min-width: 640px) {
    .kmparcourus {
      display: inline-block;
    }
  
  }
  
  .methodepaiement {
    height: 120px;
    width: 700px;
    left: 361px;
    top: 61px;
    font-size: 45px;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-top: 40px;
    }


    .arrowed {
        position: relative;
        height: 200px; width: 200px;
        margin: 0 20px 20px 0;
        border:0px solid rgba(0,0,0,0.25);
    }
    
.arrow-5 {
	/* more triangle */
	position: relative;
	height: 0px; width: 0px;
	border: 12px solid;
	border-color: 
		darkcyan
		darkcyan
		transparent
		transparent;
	transform: rotate(45deg); 
}

.arrow-5:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 12px; width: 16px;
	background-color: darkcyan;
	transform: 
		rotate(-45deg) 
		translate(2px, 1px);
}

  
    .carreprofile {
      width: 350px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 7px #0000001a;
      border: 2px solid #FF865A;
      border-radius: 10px;
      opacity: 1;
      padding:10px;
      display: inline-block;
      margin-left: 20px;
      
    }
    .buttonprofile {
      margin-top:15px;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      font-weight: 500;
      font-size: 16px;
      border-radius: 5px;
      padding: 8px 16px;
      border: 1px solid transparent;
      color: var(--white);
      cursor: pointer;
      z-index: 5;
      -webkit-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
      background: #FF5011;
    }
  
  
      /* ===================================== PORTEFEUILLE END ================================ */