
@font-face {
    font-family: Lexend Deca !important;
    src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap')!important;

    }
    .Lpolice{
        font-family: 'Lemon', cursive !important;
        src: url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
    }
    
    body,html{
    height: 100%;
    }
    /*COULEURS DU SITE*/

:root{
    --lblue  : #0f1960 ;
    --lorange:  #FF5113;
    --lgrey   : #aaa;
    --lblack : black;
   
  }
  
  .blue{
    color: var(--lblue);
  
  }
  .orange{
    color:var(--lorange);
  }
  
  .bg-blue{
      background-color: var(--lblue);
  }
  .text-gray {
    color:var(--lgrey);
  }
    
    .bg-orange{
    background-color: var(--lorange);
    }
    .text-orange {
        color: var(--lorange);
    }
    .navbar-dark{
    background-color: var(--lblack);
    }
    
    #fullsize{
    background-size: cover;
    background-attachment: fixed;
    }
    
    
    /* ANIMATION  */
    
    /*typing...*/
    .wrapper{
        display: flex;
      }
      .wrapper .dynamic-txts{
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
      }
      .dynamic-txts li{
        list-style: none;
        color: #000000;
        font-size: 60px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }
      .dynamic-txts li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
      }
      .dynamic-txts li span::after{
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background: var(--lorange);
        border-left: 2px solid #ffffff;
        animation: typing 3s steps(10) infinite;
      }
      @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }
    
    
      /* TIMELINE
      –––––––––––––––––––––––––––––––––––––––––––––––––– */
      /* le tronc de le timeline*/

    .timeline {
        position: relative;
        color: black;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 5rem;
        margin: 0 auto 1rem auto;
        overflow: hidden;
    }
    .timeline:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -2px;
        border-right: 2px solid black;
        height: 100%;
        display: block;
    }
    
    .timeline-row {
        padding-left: 50%;
        position: relative;
        margin-bottom: 30px;
    }
    .timeline-row .timeline-time {
        position: absolute;
        right: 50%;
        top: 15px;
        text-align: right;
        margin-right: 20px;
        color: #bcd0f7;
        font-size: 1.5rem;
    }
    .timeline-row .timeline-time small {
        display: block;
        font-size: 0.8rem;
    }
    .timeline-row .timeline-content {
        position: relative;
        padding: 20px 30px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    /* .timeline-row .timeline-content:after {
        content: "";
        position: absolute;
        top: 20px;
        height: 16px;
        width: 16px;
        background: #1a233a;
    } */
    .timeline-row .timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -49px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        z-index: 10;
        background: var(--lorange);
      }
    .timeline-row .timeline-content h4 {
        margin: 0 0 20px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 150%;
    }
    .timeline-row .timeline-content .thumbs {
        margin-bottom: 20px;
        display: flex;
    }
    .timeline-row .timeline-content .thumbs img {
        margin: 5px;
        max-width: 60px;
    }
    .timeline-row .timeline-content .badge {
        color: #ffffff;
        background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
    }
    .timeline-row:nth-child(even) .timeline-content {
        margin-left: 40px;
        text-align: left;
    }
    .timeline-row:nth-child(even) .timeline-content:after {
        left: -8px;
        right: initial;
        border-bottom: 0;
        border-left: 0;
        transform: rotate(-135deg);
    }
    .timeline-row:nth-child(even) .timeline-content:before {
        left: -52px;
        right: initial;
    }
    .timeline-row:nth-child(odd) {
        padding-left: 0;
        padding-right: 50%;
    }
    .timeline-row:nth-child(odd) .timeline-time {
        right: auto;
        left: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 20px;
    }
    .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 40px;
    }
    .timeline-row:nth-child(odd) .timeline-content:after {
        right: -8px;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
    }
    
    @media (max-width: 992px) {
        .timeline {
            padding: 15px;
        }
        .timeline:after {
            border: 0;
        }
        .timeline .timeline-row:nth-child(odd) {
            padding: 0;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-time {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 0 10px 0;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content {
            margin: 0;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content:before {
            display: none;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content:after {
            display: none;
        }
        .timeline .timeline-row:nth-child(even) {
            padding: 0;
        }
        .timeline .timeline-row:nth-child(even) .timeline-time {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 0 10px 0;
            text-align: left;
        }
        .timeline .timeline-row:nth-child(even) .timeline-content {
            margin: 0;
        }
        .timeline .timeline-row:nth-child(even) .timeline-content:before {
            display: none;
        }
        .timeline .timeline-row:nth-child(even) .timeline-content:after {
            display: none;
        }
    }
    
    
    /*FOOTER CSS*/
.footer {
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: var(--lblack);
    bottom: 0;
    width:100%;
  }
    .footer .container {
      position: relative; }

    .footer .links li {
      margin-bottom: 10px;
      line-height: 1.5;
      display: block; }
      .footer .links li a {
        color: #666873; }
        .footer .links li a:hover {
          color: #fff; }
    .footer .social li {
      display: inline-block;
      position: relative; }
      .footer .social li a {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: var(--lblack);
        color: #fff; }
        .footer .social li a > span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .footer .footer-logo {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    .footer .copyright {
      color: #666873; }
    .footer .cta {
      -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
      box-shadow: -20px -20px 0 0 rgba(255, 81, 19, 0.3);
      padding: 20px;
      background-color: var(--lorange);
      top: -150px;
      position: relative; }
      .footer .cta h2, .footer .cta h3 {
        line-height: 1.5; }
      .footer .cta h3 {
        font-size: 20px; }
  /*FIN FOOTER*/